<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"> Elva Wang</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
<!-- /////////////////////////////////////////////////////////////////    end of navbar    -->
<!-- /////////////////////////////////////////////////////////////////    end of navbar    -->
    <p id="aboutme"></p>
    <div id="wrapper" class="parallax">
                <div id="row1" class="row justify-content-center">
                    <div class="col-md-4 text-center" >
                        <img id="mypic" class="img-responsive img-circle" src="../assets/4.png" alt="">
                    </div>
                    <div id="myinfo" class="col-lg-6 text-center" style="margin-top: 40px;">
                        <p>Hello, my name is Elva and I’m a self-taught software engineer and a full stack web developer. I graduated from SJSU with a degree in business marketing.
                          After graduating, I discovered a strong passion for programming. So I started learning from free online resources building simple apps and to solving multiple
                           brain teaser algorithms. Later, I attended a software vocational school where I learned 3 full-stack  technologies in 3 months,
                            graduating with triple black belt, the highest order of certification any student can attain at this school. I'm detail-oriented, goal-driven, and dynamic programmer proficient in utilizing Python, MEAN, and iOS to building awesome consumer facing apps. 
                        </p>
                        <p>Please feel free to get in touch with me for any questions!</p>
                    </div>
                </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////    end of home    -->
    <!-- /////////////////////////////////////////////////////////////////    end of home    -->
    <p id="projects"></p>
    <br><br>
    <div class="container" style="text-align: center">
        <h1>PROJECTS</h1>
        <hr>
        <br>
        <h3>Website Project</h3>
        <!-- ////////////////////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////////////////// -->
        <div class="row">
             <div class="col-sm-4" style="margin-bottom: 70px;">
              <div class="card">
                <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox" style="border-bottom: 1px solid #e3e3e3">
                    <div class="carousel-item active">
                        <div class="zoom">
                          <img class="d-block img-fluid" src="../assets/projects/weather1.png" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="zoom">
                         <img class="d-block img-fluid" src="../assets/projects/weather2.png">
                        </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                  <div class="card-block">
                    <h4 class="card-title text-info">Fair Weather Travel</h4>
                    <h6 class="card-subtitle text-info">(Tech: Angular & Express)</h6>
                    <p class="card-text">
                        Fair-Weather-Travel is an Angular web app that allows travelers and tourists to check the weather forecast of their destinations.
                        The weather data are fetched from external OpenWeatherMap APIs; which are then parsed and displayed to user.
                        Users also can read travel relevant blogs and RSS feeds.
                        </p>
                        <p>This app is deployed on Heroku server.</p>
                    <a href="https://fast-headland-31134.herokuapp.com/" class="btn btn-info">Visit the website</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-4" style="margin-bottom: 10px;">
              <div class="card">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox" style="border-bottom: 1px solid #e3e3e3">
                    <div class="carousel-item active">
                      <div class="zoom">
                      <img class="d-block img-fluid" src="../assets/projects/thrift1.png">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="zoom">
                      <img class="d-block img-fluid" src="../assets/projects/thrift2.png">
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                  <div class="card-block">
                    <h4 class="card-title text-info">ThriftShop MarketPlace</h4>
                    <h6 class="card-subtitle text-info">(Tech: Angular & Express & mongoDB)</h6>

                    <p class="card-text">
                        ThriftShop Marketplace is a full MEAN web app that allows users to sign-up to buy and sell used products.
                         Logged-in users can post items they wish to sell and perform full CRUD operations.
                         Also, users can leave comments or feedback on an item, and choose to like or dislike it.
                        </p>
                        <p> This project is deployed on Heroku server.</p>
                    <a href="https://thriftshopmarket.herokuapp.com/" class="btn btn-info">Visit the website</a>
                  </div>
              </div>
          </div>

          <div class="col-sm-4" style="margin-bottom:10px;">
              <div class="card">
                <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
                  <div  class="carousel-inner" role="listbox" style="border-bottom: 1px solid #e3e3e3">
                    <div class="carousel-item active">
                        <div class="zoom">
                         <img class="d-block img-fluid" src="../assets/projects/wish1.png">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="zoom">
                          <img class="d-block img-fluid" src="../assets/projects/wish2.png">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="zoom">
                          <img class="d-block img-fluid" src="../assets/projects/wish3.png">
                        </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                  <div class="card-block">
                    <h4 class="card-title text-info">Wish List</h4>
                    <h6 class="card-subtitle text-info">(Tech: Django & mySQL)</h6>
                    <p class="card-text">
                        WishLilst Master is a Python web app that allows user to register and make wishes on their dashboard.
                        Logged-in users can create and perform CRUD operations on their wishes and also have the ability to
                        look up wishes by other users  and add them to their wishlist if they want.
                    </p>
                    <p>This app is deployed on Pythonanywehere.</p>
                    <a href="http://elva316.pythonanywhere.com/" class="btn btn-info">Visit the website</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////
      //////////////////////////////////////////////////////////////////////////// -->
      <h3>IOS Projects</h3>
      <div class="row">
         <div class="col-sm-6" style="margin-bottom: 10px;">
             <div class="card">
               <div id="carouselExampleControls4" class="carousel slide" data-ride="carousel">
                 <div class="carousel-inner" role="listbox" style="border-bottom: 1px solid #e3e3e3">
                   <div class="carousel-item active">
                      <div class="zoom">
                       <img class="d-block img-fluid" src="../assets/projects/b1.png">
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="zoom">
                        <img class="d-block img-fluid" src="../assets/projects/b2.png">
                      </div>
                   </div>

                 </div>
                 <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="sr-only">Previous</span>
                 </a>
                 <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                   <span class="sr-only">Next</span>
                 </a>
               </div>
                 <div class="card-block">
                   <h4 class="card-title text-info">Space Baby</h4>
                   <h6 class="card-subtitle text-info">( IOS Team Project)</h6>
                   <p class="card-text">
                       This Swift app is built with Apple’s SpriteKit and CoreMotion frameworks.
                       You’re the baby in this game. Avoid decrease in health score by tilting your device to dodge
                       in-coming collision diapers while you happily crash into milky feeding bottles to gain more health score.
                        Different background music will be played based a collision target.
                   </p>
                   <a href="https://github.com/elva316/IOS-hackerthon1.git" class="btn btn-info">GitHub</a>
                 </div>
             </div>
         </div>

         <div class="col-sm-6" style="margin-bottom: 10px;">
             <div class="card">
               <div id="carouselExampleControls5" class="carousel slide" data-ride="carousel">
                 <div class="carousel-inner" role="listbox" style="border-bottom: 1px solid #e3e3e3">
                   <div class="carousel-item active">
                      <div class="zoom">
                         <img class="d-block img-fluid" src="../assets/projects/y1.png">
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="zoom">
                        <img class="d-block img-fluid" src="../assets/projects/y2.png">
                        </div>
                   </div>

                 </div>
                 <a class="carousel-control-prev" href="#carouselExampleControls5" role="button" data-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="sr-only">Previous</span>
                 </a>
                 <a class="carousel-control-next" href="#carouselExampleControls5" role="button" data-slide="next">
                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                   <span class="sr-only">Next</span>
                 </a>
               </div>
                 <div class="card-block">
                   <h4 class="card-title text-info">Youtube Likelist</h4>
                   <h6 class="card-subtitle text-info">( IOS Team Project)</h6>
                   <p class="card-text">This iOS Swift app integrates external Youtube API and utilizes
                       the Google Authentication API to allow users to sign, have access, and play to their Youtube
                       liked list. The ultimate goal is to allow scholar to go through their studying list without distraction.
                   </p>
                   <a href="https://github.com/elva316/IOSHackathon3-GroupProject-.git" class="btn btn-info">GitHub</a>
                 </div>
             </div>
         </div>
      </div>
    </div>

<!-- /////////////////////////////////////////////////////////////////    end of projects    -->
<!-- /////////////////////////////////////////////////////////////////    end of projects    -->
    <p id="skills"></p>
    <br><br>
    <div class="container"  style="text-align: center">
        <h1>SKILLS</h1>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkT">
                <img alt="AltText" src="../assets/skills/python.png" class="img-responsive" style="margin: auto">
            </a>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img  alt="AltText" src="../assets/skills/squile.png" class="img-responsive" style="margin: auto">
            </a>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img src="../assets/skills/swift.png" alt="AltText" class="img-responsive" style="margin: auto">
            </a>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img alt="AltText" src="../assets/skills/mongoDB.png" class="img-responsive" style="margin: auto">
            </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img alt="AltText" src="../assets/skills/node.png" class="img-responsive" style="margin: auto">
            </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img src="../assets/skills/html.png" alt="AltText" class="img-responsive" style="margin: auto">
            </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img src="../assets/skills/flask.png" alt="AltText" class="img-responsive" style="margin: auto">
            </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img src="../assets/skills/typescript.png" alt="AltText" class="img-responsive" style="margin: auto">
            </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img src="../assets/skills/bootstrap.png" alt="AltText" class="img-responsive" style="margin: auto">
            </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img src="../assets/skills/css.png" alt="AltText" class="img-responsive" style="margin: auto">
            </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img src="../assets/skills/amazon.png" alt="AltText" class="img-responsive" style="margin: auto">
            </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img src="../assets/skills/github.png" alt="AltText" class="img-responsive" style="margin: auto">
            </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img src="../assets/skills/angular.png" alt="AltText" class="img-responsive" style="margin: auto">
            </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img src="../assets/skills/ios.png" alt="AltText" class="img-responsive" style="margin: auto">
            </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
            <a href="LinkToImage">
                <img src="../assets/skills/mySQL.png" alt="AltText" class="img-responsive" style="margin: auto">
            </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="LinkToImage">
                    <img src="../assets/skills/materialize.png" alt="AltText" class="img-responsive" style="margin: auto">
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="LinkToImage">
                    <img src="../assets/skills/js.png" alt="AltText" style="width: 155px;" class="img-responsive" style="margin: auto">
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="LinkToImage">
                    <img src="../assets/skills/ajax.png" alt="AltText" style="width: 155px;" class="img-responsive" style="margin: auto">
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="LinkToImage">
                    <img src="../assets/skills/django.png" alt="AltText" class="img-responsive" style="margin: auto">
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="LinkToImage">
                    <img src="../assets/skills/git.png" alt="AltText" class="img-responsive" style="margin: auto">
                </a>
            </div>
        </div>
    </div>
    <br><br>
    <p id='contact'></p>

    <div id="footer" class="container" style="text-align: center">
        <div class="footer-main">
             <p id="contact"></p>
             <br>
                 <h1>CONTACT</h1>
                 <br>
                 <div class="slide story" id="slide-6" data-slide="6">
        			<div class="container">
        				<div id="contact-row-4" class="row">
        					<!-- <div class="col-sm-1 hidden-sm">&nbsp;</div> -->
        					<div class="col-12 col-sm-3 with-hover-text">
                                <a href="Untitled1.pages" download="resume"><img src="../assets/contact/resume.png" alt=""></a>
        						<p>Resume</p>
        					</div><!-- /col12 -->
        					<div class="col-12 col-sm-3 with-hover-text">
                                <a href="mailto:elva316@gmail.com"><img src="../assets/contact/mail2.png" alt=""></a>

        						<p>Email</p>
        					</div><!-- /col12 -->
        					<div class="col-12 col-sm-3 with-hover-text" style="overflow: visible;">
        						<a href="https://www.linkedin.com/in/elva-wang/"><img src="../assets/contact/linkedin2.png" alt=""></a>
                                <p>LinkedIn</p>
        					</div><!-- /col12 -->
        					<div class="col-12 col-sm-3 with-hover-text" style="overflow: visible;">
                                <a href="https://github.com/elva316"><img id="git2" src="../assets/contact/git2.png" alt=""><img id="git" src="../assets/contact/git.png" style="display: none" alt=""></a>
        						<p>Elva316</p>
        					</div><!-- /col12 -->
        					<div class="col-sm-1 hidden-sm">&nbsp;</div>
        				</div><!-- /row -->
        			</div><!-- /container -->
        			<div class="footer">
        				<div class="col-lg-12">
        					Copyright © Elva Wang 2018
        				</div>
        			</div>
        		</div>
         </div>
    </div>

</body>
</html>
